{
  "root": true,
  "extends": ["airbnb", "prettier"],
  "globals": {
    "window": true,
    "document": true,
    "navigator": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "brace-style": "warn",
    "class-methods-use-this": "warn",
    "dot-notation": "warn",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "max-len": "warn",
    "no-await-in-loop": "warn",
    "no-continue": "warn",
    "no-nested-ternary": "warn",
    "no-param-reassign": ["error", { "props": false }],
    "no-trailing-spaces": "warn",
    "no-underscore-dangle": "warn",
    "no-unused-vars": "warn",
    "prefer-destructuring": "warn",
    "quote-props": "warn",
    "react/sort-comp": "warn",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/require-default-props": 1,
    "react/forbid-prop-types": "off",
    "react/prop-types": 1,
    "react/function-component-definition": "off",
    "react/destructuring-assignment": "warn",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["Input, TextArea"],
        "assert": "either"
      }
    ],
    "jsx-a11y/label-has-for": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json", ".ios.js", ".android.js"]
      }
    }
  }
}
